<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <div class="buttons">
      <a class="btn btn-primary" href="/rent/selection">Glass Selection</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
