<div id="welcome">
  <div class="container">
    <div>
      <page-header
      heading="Welcome!"
      sub-heading="Choose what you would like to do next"
      />
    </div>
    <div>
      <p>
        Welcome text
      </p>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center mt-3">
        <div class="card p-3">
          <a class="btn btn-primary" href="/rent/selection">
            <i class="fa fa-search-plus mr-2"></i>Glass Selection
          </a>
        </div>
      </div>
      <div class="col-md-4 offset-md-4 text-center mt-3">
        <div class="card p-3">
          <a class="btn btn-primary" href="/rent/member-orders">
            <i class="fa fa-list mr-2"></i>Check your orders
          </a>
        </div>
      </div>
      <div class="col-md-4 offset-md-4 text-center mt-3">
        <div class="card p-3">
          <a class="btn btn-primary" href="/checkout/reserve-member">
            <i class="fa fa-shopping-bag mr-2"></i>Reserve Order
          </a>
        </div>
      </div>
      <div class="col-md-4 offset-md-4 text-center mt-3">
        <div class="card p-3">
          <a class="btn btn-primary" href="/checkout/purchase-member">
            <i class="fa fa-credit-card-alt mr-2"></i>Proceed to Checkout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
