<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <div>
      <p>
        Welcome text
      </p>
    </div>
    <hr/>
    <div class="row">
      <div class="buttons col-md-3">
        <div class="mb-2">
          <a class="btn btn-block btn-primary" href="/rent/selection">
            <i class="fa fa-search-plus mr-2"></i>Glass Selection
          </a>
        </div>
        <div class="mb-2">
          <a class="btn btn-block btn-primary" href="/rent/reserve-member">
            <i class="fa fa-shopping-bag mr-2"></i>Reserve Order
          </a>
        </div>
        <div class="mb-2">
          <a class="btn btn-block btn-primary" href="/rent/purchase-member">
            <i class="fa fa-credit-card-alt mr-2"></i>Proceed to Checkout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
