<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">You recently requested to reserve wine glass rental stock. Please take note of your keyword and order id below that are required to retrieve your order:</p>
<p style="margin-bottom: 25px;">Order Id: <%= orderId %> </p>
<p style="margin-bottom: 25px;">Keyword: <%= keyword %> </p>
<p style="margin-bottom: 25px;">To retrieve your stock order please go to: <a style="color: #28AFB0; word-wrap: break-word;" href="http://localhost:1337/rent/order-recovery">Plumm Rental Order Recovery</a></p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The Plumm Glass Rental Team</p>
