<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">This email is to confirm that you recently requested to reserve wine glass rental stock.</p>
<p style="margin-bottom: 25px;">To retrieve your stock order please go to: <a style="color: #28AFB0; word-wrap: break-word;" href="http://localhost:1337/rent/member-orders">Plumm Rental Order Recovery</a></p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The Plumm Glass Rental Team</p>
