<div id="order-prompt">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center mt-3">
        <div class="card p-3">
          <a href="../checkout/purchase-guest">
            <button class="btn btn-outline-primary">
              Purchase Order as Guest
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 offset-md-3 text-center mt-3">
        <div class="card p-3">
          <a href="../checkout/purchase-member">
            <button class="btn btn-primary">
                Log In to checkout as member
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
