<div id="order-confirmation" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/checkout/order-confirmation.less</em>, <em>assets/js/pages/checkout/order-confirmation.page.js</em>, and <em>api/controllers/checkout/view-order-confirmation.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
