<div id="reserve-prompt">
  <div class="container" v-cloak>
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center mt-3" v-cloak v-if="!loggedIn">
        <div class="card p-3">
          <a href="../checkout/reserve-guest">
            <button class="btn btn-outline-primary">
                Reserve Order as Guest
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 offset-md-3 text-center mt-3">
        <div class="card p-3">
          <a href="../checkout/reserve-member">
            <button class="btn btn-primary">
              Reserve as Member
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
