<div id="reserve-member" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/checkout/reserve-member.less</em>, <em>assets/js/pages/checkout/reserve-member.page.js</em>, and <em>api/controllers/checkout/view-reserve-member.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
