<div id="cart" v-cloak @click="turnOffOverlay()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <page-header heading="Rental Cart" sub-heading="Add glassware to the cart, check shipping costs" />
      </div>
       <div class="col-sm-3">
        <div
          v-if="timePeriodOverlayOn"
          style="z-index: 99999; color: white; position: absolute; top: 10rem; left: 30rem; width: 30rem;"
        >
          <h4>
            <span class="fa fa-arrow-left pr-2"></span>
            Add a rental time period
          </h4>
        </div>
        <div class="bg-dark p-2 text-white card mb-3" v-bind:class="{ overlay: timePeriodOverlayOn }">
          <div class="card-header">
            <h4>Step 1</h4>
            <h5>Add dates for the rental</h5>
            <span
              class="fa fa-asterisk"
              style="position: absolute; top: 1rem; right: 1rem"
              v-bind:class="{ 'text-warning': !cart.timePeriod.DateStart, 'text-success': cart.timePeriod.DateStart && cart.timePeriod.DateEnd }">&nbsp;
            <span>
          </div>
          <div class="card-body">
            <ajax-form :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()"
              :handle-submitting="handleTimeSubmitting" :handle-parsing="handleParsingTimeForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="full-name">Start Date</label>
                    <input class="form-control" id="date-start" name="date-start" type="date" :min="minDate" :max="maxDate"
                      :class="[formErrorsTime.DateStart ? 'is-invalid' : '']" v-model.trim="formDataTime.DateStart"
                      placeholder="0" autocomplete="date-end">
                    <div class="invalid-feedback" v-if="formErrorsTime.DateStart">Please enter a start date.</div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="full-name">End Date</label>
                    <input class="form-control" id="date-end" name="date-end" type="date" :min="minDate" :max="maxDate"
                      :class="[formErrorsTime.DateEnd ? 'is-invalid' : '']" v-model.trim="formDataTime.DateEnd"
                      placeholder="0" autocomplete="date-end">
                    <div class="invalid-feedback" v-if="formErrorsTime.DateEnd">Please enter a end date.</div>
                  </div>
                </div>
                <div class="col-sm-12" v-if="false">
                  <div class="form-group">
                    <label for="full-name">Days of Usage</label>
                    <input class="form-control" id="days-of-use" name="days-of-use" type="number"
                      :class="[formErrorsTime.DaysOfUse ? 'is-invalid' : '']" v-model.trim="formDataTime.DaysOfUse"
                      placeholder="0" autocomplete="days-of-use">
                    <div class="invalid-feedback" v-if="formErrorsTime.DaysOfUse">Please enter days of use.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-danger" v-if="cloudError === 'dateTaken'">There are not enough of that glass type for
                    that date</p>
                  <p class="text-danger" v-else-if="cloudError">An error occured while processing your request. Please
                    check your information and try again, or <a href="/contact">contact support</a> if the error
                    persists.</p>
                </div>
                <div class="col-sm-12">
                  <div class="form-group text-right">
                    <ajax-button type="submit" :syncing="syncing" class="btn btn-sm btn-outline-light">
                      <i class="fa fa-pencil mr-1"></i>
                      Add Dates
                    </ajax-button>
                  </div>
                </div>
              </div>
            </ajax-form>
          </div>
        </div>
        <div
          v-if="postcodeOverlayOn"
          style="z-index: 99999; color: white; position: absolute; top: 30rem; left: 30rem; width: 30rem;"
        >
          <h4>
            <span class="fa fa-arrow-left pr-2"></span>
            Add the delivery postcode
          </h4>
        </div>
        <div class="bg-dark p-2 text-white card mb-3" v-bind:class="{ overlay: postcodeOverlayOn }">
          <div class="card-header">
            <div class=""></div>
            <h4>Step 2</h4>
            <h5>Add a postcode for order delivery</h5>
            <span
              class="fa fa-asterisk"
              style="position: absolute; top: 1rem; right: 1rem"
              v-bind:class="{ 'text-warning': !cart.shipping.Postcode, 'text-success': cart.shipping.Postcode }">&nbsp;
            <span>
          </div>
          <div class="card-body">
            <ajax-form :syncing.sync="syncing" :cloud-error.sync="cloudError"
              @submitted="submittedForm()" :handle-submitting="handleShippingSubmitting"
              :handle-parsing="handleParsingShippingForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="full-name">Postcode</label>
                    <input class="form-control" id="postcode" name="postcode"
                      :class="[formErrorsShipping.PostcodeRaw ? 'is-invalid' : '']"
                      v-model.trim="formDataShipping.PostcodeRaw" autocomplete="postcode">
                    <div class="invalid-feedback" v-if="formErrorsShipping.PostcodeRaw">Please enter a postcode in the
                      format of 111-1111.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-danger" v-if="cloudError === 'invalid postcode'">That postcode isn't valid</p>
                  <p class="text-danger" v-else-if="cloudError">An error occured while processing your request. Please
                    check your information and try again, or <a href="/contact">contact support</a> if the error
                    persists.</p>
                </div>
                <div class="col-sm-12">
                  <div class="form-group text-right">
                    <ajax-button type="submit" :syncing="syncing" class="btn btn-sm btn-outline-light">
                      <i class="fa fa-pencil mr-1"></i>
                      Add Postcode
                    </ajax-button>
                  </div>
                </div>
              </div>
            </ajax-form>
            <!-- <button @click="validateCartTest()"> Validation Test</button> -->
          </div>
        </div>
        <div class="mb-3 bg-light card">
          <div class="card-header">
            <h5>Additional Items</h5>
          </div>
          <div class="card-body">
            <div v-if="glasses.length === 0">
              <div style="height: 178px;">
                <span class="fa fa-spinner fa-spin"> </span>
              </div>
            </div>
            <ajax-form @submitted="submittedForm()" :syncing.sync="syncing" :cloud-error.sync="cloudError"
              :handle-submitting="handleItemSubmitting" :handle-parsing="handleParsingItemForm"
              v-if="glasses.length > 0">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="full-name">Choose a glass type</label>
                    <select class="form-control form-control-sm" v-model.trim="formDataItem.Id" id="id" name="id"
                      :class="[formErrorsItems.Id ? 'is-invalid' : '']">
                      <option disabled value="">1つを選択してください</option>
                      <option v-for="glass in glasses" :value="glass.id">{{glass.NameJ1}} {{glass.NameJ2}}</option>
                    </select>
                    <div class="invalid-feedback" v-if="formErrorsItems.Id">Please enter an id.</div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="full-name">Quantity</label>
                    <input class="form-control form-control-sm" id="quantity" name="quantity" type="number"
                      :class="[formErrorsItems.Quantity ? 'is-invalid' : '']" v-model.trim="formDataItem.Quantity"
                      placeholder="0" autocomplete="quantity">
                    <div class="invalid-feedback" v-if="formErrorsItems.Quantity">Please enter a quantity.</div>
                  </div>
                </div>
                <div class="text-danger " v-if="formErrorsItems.Duplicate">Item is already in cart, edit in cart</div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-danger" v-if="cloudError === 'dateTaken'">There are not enough of that glass type for
                    that date</p>
                  <p class="text-danger" v-else-if="cloudError">An error occured while processing your request. Please
                    check your information and try again, or <a href="/contact">contact support</a> if the error
                    persists.</p>
                </div>
                <div class="col-sm-12">
                  <div class="form-group text-right">
                    <ajax-button type="submit" :syncing="syncing" class="btn btn-sm btn-primary">
                      <i class="fa fa-cart-plus mr-1"></i>
                      Add New Product
                    </ajax-button>
                  </div>
                </div>
              </div>
            </ajax-form>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card p-3">
          <div class="mb-2">
            <h5>Rental Cart Items</h5>
          </div>
        <!-- <div class="row">
          <div class="col-md-12" v-if="cart.quantityDiscountFactorForFullRacks && cart.quantityDiscountFactorForFullRacks.discountFactor !== 0">
            <p>Quantitiy Discount Factor</p>
            <span class="text-primary">
              <h4>{{(100 - (cart.quantityDiscountFactorForFullRacks.discountFactor * 100)).toFixed(2)}}%</h4>
            </span>
          </div>
          <div class="col-md-12 text-info">
            <small>Add more items to increase discount</small>
          </div>
        </div>
        <hr /> -->
        <div class="row" v-for="(item, index) in cart.items" :key="item.Id">
          <div class="col-md-2 mb-3">
            <img style="max-height: 120px; max-width: 100%; margin: 0 auto" :src="item.ImgSrc" />
          </div>
          <div class="col-md-2 mb-3">
            <h5>{{item.NameJ1}}</h5>
            <h5>{{item.NameJ2}}</h5>
            <div class="text-success" v-bind:class="{ 'text-info': item.Available.available === 'Not Available' }">
              <div v-if="item.Available !== 'No date set to evaluate'">
                {{item.Available.available}}&nbsp;<br />
                <span class="text-muted"
                  v-if="item.Available.available === 'Not Available'">{{item.Available.remaining}} In
                  Stock</span>
              </div>
              <div class="text-info" v-if="item.Available === 'No date set to evaluate'">
                {{item.Available}}
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <small>Quantitiy</small>
            <div class="input-group">
              <input class="form-control form-control-sm" type="number" v-model.trim="item.Quantity"/>
              <div class="input-group-append">
                <button @click="updateItemRowQuantity(index, item.Quantity)" type="submit"
                  class="btn btn-sm btn-block ajax-button btn-outline-primary" :class="[syncing ? 'syncing' : '']">
                  <span class="button-text" v-if="!syncing">
                    <i class="fa fa-pencil mr-1"></i>
                    Update
                  </span>
                  <span class="button-loader clearfix" v-if="syncing">
                    <slot name="syncing-state">
                      <div class="loading-dot dot1"></div>
                      <div class="loading-dot dot2"></div>
                      <div class="loading-dot dot3"></div>
                      <div class="loading-dot dot4"></div>
                    </slot>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div>
              <small>Unit Price</small>
              <div>¥{{(_.sum([item.Extras.roundedDiscountedUnitPriceWithDaysOfUseIncreaseFactor + item.WashAndPolish])).toLocaleString()}}</div>
            </div>
          </div>
          <div class="col-md-1 mb-3">
            <!-- <div>
              <small>Quantity Discount</small>
              <div>{{(100 - (item.QuantityDiscountFactor * 100)).toFixed(2)}}%</div>
            </div> -->
            <div>
              <small>Total</small>
              <div>
                <b>¥{{item && item.TotalPriceWithDiscountsAndWash && item.TotalPriceWithDiscountsAndWash.toLocaleString()}}</b>
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-3 text-right">
            <button @click="removeItemFromCart({ index: index })" type="submit"
              class="btn btn-sm btn-outline-secondary ajax-button" :class="[syncing ? 'syncing' : '']">
              <span class="button-text" v-if="!syncing">
                <i class="fa fa-trash mr-1"></i> Remove
              </span>
              <span class="button-loader clearfix" v-if="syncing">
                <slot name="syncing-state">
                  <div class="loading-dot dot1"></div>
                  <div class="loading-dot dot2"></div>
                </slot>
              </span>
            </button>
          </div>
          <div class="col-md-12">
            <div style="background: rgba(0, 0, 0, 0.1); height: 1px" class="col-md-12 mb-3">
              <!-- divider -->
            </div>
          </div>
        </div>
        <div class="">
          <div v-if="cart.orderIdToIgnore" class="mb-3">
            <div class="">
              <div class="row">
                <div class="col-md-6">
                  <div><b>Based on Reserved Order</b></div>
                  <div>Order Number</div>
                  <div class="text-primary">{{cart.orderIdToIgnore}}</div>
                  <div>Reserved Order Type</div>
                  <div class="text-primary">{{cart.reserveOrderKeyword ? 'Guest with keyword' : 'Member'}}</div>
                  <div v-if="cart.reserveOrderKeyword">
                    <div>Order Keyword</div>
                    <div class="text-primary">{{cart.reserveOrderKeyword}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 m-0 p-0">
            <div class="row">
              <div class="col-md-6 mb-3" v-if="cart.timePeriod.DateStart && cart.timePeriod.DateEnd">
                <div class="mb-2">
                  <h5>Time Period</h5>
                  <hr />
                </div>
                <div>
                  <div>
                    <h6>Delivery Day</h6>
                    <div>
                      {{cart.timePeriod && moment(cart.timePeriod.DateStart).format('LL') || "None"}}
                    </div>
                  </div>
                  <div>
                    <h6>Return Day</h6>
                    <div>
                      {{cart.timePeriod && moment(cart.timePeriod.DateEnd).format('LL') || "None"}}
                    </div>
                  </div>
                  <div>
                    <h6>Days of Use</h6>
                    <div>
                      {{cart.timePeriod && cart.timePeriod.DaysOfUse || "None"}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3" v-if="cart.shipping.Postcode">
                <div class="mb-2">
                  <h5>Delivery</h5>
                  <hr />
                </div>
                <div>
                  <div>
                    <h6>Postcode</h6>
                    <div>
                      {{cart.shipping && cart.shipping.PostcodeRaw || "Add a Postcode"}}<br />
                      <small
                        class="text-info">{{ (cart.shipping && cart.shipping.ShippingPossible === false) ? "Shipping Not Possible" : ""}}</small>
                    </div>
                  </div>
                  <div>
                    <h6>Devliery Method</h6>
                    <div>
                      {{cart.shipping && _.capitalize(cart.shipping.ShippingType)}}<br />
                    </div>
                  </div>
                  <div>
                    <h6>Area</h6>
                    <div>
                      {{cart.shipping && cart.shipping.ShippingFactorRecord && _.capitalize(cart.shipping.ShippingFactorRecord.Place)}}<br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-muted p-1" v-if="cart.shipping.Postcode && cart.timePeriod.DateStart && cart.timePeriod.DateEnd">
              <div class="mb-2 text-right">
                <hr />
                <h3>Totals</h3>
                <hr />
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div>
                    <div class="text-right">
                      <h5>Items</h5>
                        ¥ {{cart.cartTotals && cart.cartTotals.itemsTotal && cart.cartTotals.itemsTotal.toLocaleString() || 0}}
                      <hr />
                      <h5>Shipping</h5>
                        <!-- ¥ {{cart.shipping && cart.shipping.Price && cart.shipping.Price.toLocaleString() || 0}} -->
                        ¥ {{cart.cartTotals && cart.cartTotals.shippingTotal && cart.cartTotals.shippingTotal.toLocaleString() || 0}}
                      <hr />
                      <h5>Sub Total</h5>
                        <!-- ¥ {{subTotal && subTotal.toLocaleString()}} -->
                        ¥ {{cart.cartTotals && cart.cartTotals.subTotal && cart.cartTotals.subTotal.toLocaleString() || 0}}
                      <hr />
                      <h5>Tax</h5>
                        <!-- ¥ {{taxTotal && taxTotal.toLocaleString()}} -->
                        ¥ {{cart.cartTotals && cart.cartTotals.taxTotal && cart.cartTotals.taxTotal.toLocaleString() || 0}}
                      <hr />
                      <h4>Grand Total</h4>
                      <h5>
                        <b>
                          <!-- ¥ {{grandTotal && grandTotal.toLocaleString()}} -->
                          ¥ {{cart.cartTotals && cart.cartTotals.grandTotal && cart.cartTotals.grandTotal.toLocaleString() || 0}}
                        </b>
                      </h5>
                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-12 mt-2">
              <div class="row">
                <div class="col-md-6 mb-2">
                  <button class="btn btn-outline-secondary btn-sm" @click="clearCart">
                    <span class="fa fa-times"></span>
                    Clear Cart
                  </button>
                </div>
                <div class="col-md-6 text-sm-right">
                  <span class="mr-2">
                    <a href="../checkout/reserve-prompt">
                      <button class="btn btn-outline-primary btn-sm" :disabled="!checkoutEnabled">
                        <i class="fa fa-shopping-bag"></i>
                        Reserve Stock
                      </button>
                    </a>
                  </span>
                  <a href="../checkout/order-prompt">
                    <button class="btn btn-primary btn-sm" :disabled="!checkoutEnabled">
                      <i class="fa fa-credit-card-alt"></i>
                      Proceed to Checkout
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>