<div id="member-orders" v-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <page-header
          heading="Orders"
          sub-heading="Add reserved orders to the cart"
          />
        </div>
        <div v-if="_.isEmpty(orders)" >
          <p><i>There are no orders</i></p>
        </div>
        <table v-if="orders.length > 0" class="table table-bordered">
          <tr>
            <th>
              Order Id
            </th>
            <th>
              Reserved
            </th>
            <th>
              Post Code
            </th>
            <th>
              Order Lines
            </th>
            <th>
              Date Start
            </th>
            <th>
              Date End
            </th>
            <th>
              Created At
            </th>
            <th>
              Actions
            </th>
          </tr>
          <template v-for="order in orders">
          <tr>
            <td>
              {{order.id}}
            </td>
            <td>
              {{order.Reserved ? 'Yes' : 'No'}}
            </td>
            <td>
              {{order.Postcode}}
            </td>
            <td>
              {{order.OrderLineNumbers.length}}
            </td>
            <td>
              {{moment(order.DateStart).format("LL")}}
            </td>
            <td>
              {{moment(order.DateEnd).format("LL")}}
            </td>
            <td>
              {{moment(order.CreatedAt).format("LLLL")}}
            </td>
            <td>
              <div class="row">
                <div class="col-md-12">
                  <button
                    class="btn btn-outline-primary btn-sm"
                    @click="toggleAddToSelectedOrders(order.id)"
                  >
                    <span class="fa fa-eye mr-1"></span>
                    View Details
                  </button>
                  <button
                    @click="addOrderToCart(order)"
                    type="submit"
                    class="btn btn-outline-success btn-sm ajax-button"
                    :class="[syncing ? 'syncing' : '']"
                    :disabled="syncing"
                  >
                    <span class="button-text" v-if="!syncing">
                      <slot name="default"><span class="fa-cart-plus fa mr-1"></span>Re-Add to Cart</slot>
                    </span>
                    <span class="button-loader clearfix" v-if="syncing">
                      <slot name="syncing-state">
                        <div class="loading-dot dot1"></div>
                        <div class="loading-dot dot2"></div>
                        <div class="loading-dot dot3"></div>
                        <div class="loading-dot dot4"></div>
                      </slot>
                    </span>
                  </button>
                  <button
                    @click="deleteReservedOrder(order.id)"
                    type="submit"
                    class="btn btn-outline-danger btn-sm ajax-button"
                    :class="[syncing ? 'syncing' : '']"
                    :disabled="syncing"
                  >
                    <span class="button-text" v-if="!syncing">
                      <slot name="default"><span class="fa-trash fa mr-1"></span>Delete Order</slot>
                    </span>
                    <span class="button-loader clearfix" disabled v-if="syncing">
                      <slot name="syncing-state">
                        <div class="loading-dot dot1"></div>
                        <div class="loading-dot dot2"></div>
                        <div class="loading-dot dot3"></div>
                        <div class="loading-dot dot4"></div>
                      </slot>
                    </span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="_.includes(selectedOrders, order.id)">
            <td
              colspan="8"
              style="background-color: #eee;
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
              "
            >
              <span
                v-if="!ordersWithFullData[order.id]"
                class="fa fa-spinner fa-spin ml-3 mt-3"
              >
              </span>
              <table
                class="table"
                v-if="ordersWithFullData[order.id]"
              >
                <tr>
                  <th colspan="5">
                    <div  style="justify-content: space-between; display: flex">
                      <div>
                        <b>Order Items</b>
                      </div>
                      <div>
                        <button class="btn btn-outline-secondary btn-sm" @click="toggleAddToSelectedOrders(order.id)">
                          <span class="fa-times-circle fa mr-1"></span>
                          Close
                        </button>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr class="tr">
                  <th>
                    Image
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Unit Price
                  </th>
                  <th>
                    Quantity In Order
                  </th>
                  <th>
                    Total Price
                  </th>
                </tr>
                <tr v-for="item in ordersWithFullData[order.id].OrderLineNumbers">
                  <td>
                    <img height="100px" :src="item.glassDetails.ImgSrc" />
                  </td>
                  <td>
                    {{ item.glassDetails.NameE }}
                    {{ item.glassDetails.NameJ }}
                  </td>
                  <td>
                    짜{{ item.UnitPrice }}
                  </td>
                  <td>
                    짜{{ item.Quantity }}
                  </td>
                  <td>
                    짜{{ item.UnitPrice * item.Quantity }}
                  </td>
                </tr>
                <tr>
                  <th colspan="3">
                  </th>
                  <th>
                    <b>Order Total</b>
                  </th>
                  <th>
                    <b>짜{{ordersWithFullData[order.id].TotalPrice}}</b>
                  </th>
                </tr>
              </table>
            </td>
          </tr>
          </template>
        </table>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
