<div id="order-recovery" v-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <page-header
          heading="ご注文"
          sub-heading="Use your order id and keyword to recall a reserved order as a guest"
        />
      </div>
      <div class="col-md-6 offset-md-3">
        <ajax-form @submitted="submittedForm()" :syncing.sync="syncing" :cloud-error.sync="cloudError"
          :handle-submitting="submitForm" :handle-parsing="handleParsingForm">
          <div class="form-group">
            <div for="orderId">Order Id</div>
            <input class="form-control" id="orderId" name="orderId" type="string"
              :class="[formErrors.OrderId ? 'is-invalid' : '']" v-model.trim="formData.OrderId"
              placeholder="Enter an Order Id">
            <div class="invalid-feedback" v-if="formErrors.orderId">
              Please enter an order Id.
            </div>
          </div>
          <div class="form-group">
            <div for="keyword">Customer Selected Keyword</div>
            <input class="form-control" id="keyword" name="keyword" type="string"
              :class="[formErrors.Keyword ? 'is-invalid' : '']" v-model.trim="formData.Keyword"
              placeholder="Enter a Keyword">
            <div class="invalid-feedback" v-if="formErrors.Keyword">
              Please enter a keyword.
            </div>
          </div>
          <div class="form-group">
            <ajax-button type="submit" :syncing="syncing" class="btn">
              Recover Order
            </ajax-button>
          </div>
        </ajax-form>
      </div>
    </div>
    <div class="row" v-if="newCart.items">
      <div class="col-md-6 offset-md-3 p-0 card">
        <div class="card-header">
          Recovered Order
        </div>
        <div class="card-body">
          <div>
            <table class="table table-bordered">
              <tr class="tr">
                <th>
                  Date Start
                </th>
                <th>
                  Date End
                </th>
                <th>
                  Days of Use
                </th>
                <th>
                  Postcode
                </th>
              </tr>
              <tr class="tr">
                <td>
                  {{moment(newCart.timePeriod.DateStart).format("LL")}}
                </td>
                <td>
                  {{moment(newCart.timePeriod.DateEnd).format("LL")}}
                </td>
                <td>
                  {{newCart.timePeriod.DaysOfUse}}
                </td>
                <td>
                  {{newCart.shipping.PostcodeRaw}}
                </td>
              </tr>
            </table>
            <table class="table table-bordered">
              <tr class="tr">
                <th>
                  Image
                </th>
                <th>
                  Name
                </th>
                <th>
                  Quantity In Order
                </th>
              </tr>
              <tr v-for="item in newCart.items">
                <td>
                  <img height="100px" :src="item.ImgSrc" />
                </td>
                <td>
                  {{ item.NameJ1 }}
                  {{ item.NameJ2 }}
                </td>
                <td>
                  {{ item.Quantity }}
                </td>
              </tr>
            </table>
            <div class="col-md-12 text-right">
              <button class="btn btn-primary" @click="addReservedOrderToCart">
                Add reserved order to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>