<div id="selection">
  <div class="container">
    <h1>Select Items</h1>
    <hr/>
    <p>Select items you would like to rent</p>
    <div>
        <div>
          current cart
          <div>{{cart}}</div>
        </div>
        <div>
          form data
          <div>{{formData}}</div>
        </div>
        </div>
        <button class="btn btn-sm btn-outline-info account-settings-button" @click="createGlass">
          Create Glass
        </button>
        <button class="btn btn-sm btn-outline-info account-settings-button" @click="getGlasses">
          Get Glasses
        </button>
        <hr />
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div v-for="glass in glasses" style="border: 1px lightgray solid" class="mb-3 mt-3 p-3 row">
                <div class="col-sm-6">
                  <img width="200" :src="glass.ImgSrc" />
                </div>
                <div class="col-sm-6">
                  <div>{{ glass.Name }}</div>
                  <small>Total Count: {{ glass.TotalQuantityInSystem }}</small>
                  <br />
                  <small>Sku: {{ glass.Sku }}</small>
                  <br />
                  <small>Id: {{ glass.id }}</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div style="border: 1px lightgray solid" class="mb-3 mt-3 p-3 ml-3 row">
                <ajax-form action="checkCartItemValid" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-submitting="handleSubmitting" :handle-parsing="handleParsingForm">
                  <div class="row">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="full-name">Choose a glass type</label>
                          <select class="form-control" v-model.trim="formData.Id" id="id" name="id" :class="[formErrors.Id ? 'is-invalid' : '']">
                            <option disabled value="">Please select one</option>
                            <option v-for="glass in glasses" :value="glass.id">{{glass.Name}}</option>
                          </select>
                          <div class="invalid-feedback" v-if="formErrors.Id">Please enter an id.</div>
                        </div>
                      </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="full-name">Quantity</label>
                        <input class="form-control" id="quantity" name="quantity" type="number"  :class="[formErrors.Quantity ? 'is-invalid' : '']" v-model.trim="formData.Quantity" placeholder="0" autocomplete="quantity">
                        <div class="invalid-feedback" v-if="formErrors.Quantity">Please enter a quantity.</div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="full-name">Date</label>
                        <input class="form-control" id="date" name="date" type="date"  :class="[formErrors.Date ? 'is-invalid' : '']" v-model.trim="formData.Date" placeholder="0" autocomplete="date" >
                        <div class="invalid-feedback" v-if="formErrors.Date">Please enter a date.</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <p class="text-danger" v-if="cloudError === 'dateTaken'">There are not enough of that glass type for that date</p>
                      <p class="text-danger" v-else-if="cloudError">An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</p>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group text-right">
                        <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Add to Cart</ajax-button>
                      </div>
                    </div>
                  </div>
                </ajax-form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>