<div id="selection" v-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <page-header
          heading="グラスの種類"
          sub-heading="ご希望のグラスと数量を選んで下さい"
        />
      </div>
      <div v-if="_.isEmpty(glasses)" class="col-md-12 mb-3">
        <spinner />
      </div>
      <div
        v-for="(glass, index) in glasses"
        :key="index"
        class="col-lg-2 col-md-3 mb-5"
        v-cloak
      >
        <item-adder
          :product="glass"
          :index="index"
          :handle-submitting="handleItemSubmitting"
          :handleParsing="handleParsingItemForm"
          :cloud-error.sync="cloudError"
          :syncing="syncing"
          />
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>