<div id="selection">
  <div class="container">
    <h1>Select Items</h1>
    <hr/>
    <p>Select items you would like to rent</p>
    <div>
        <div class="col-3">Name:</div>
        <div class="col"><strong>{{me.fullName}}</strong></div>
        <button class="btn btn-sm btn-outline-info account-settings-button" @click="createGlass">
          Create Glass
        </button>
        <button class="btn btn-sm btn-outline-info account-settings-button" @click="getGlasses">
          Get Glass
        </button>
        <div>
          <ul id="example-1">
            <li v-for="glass in glasses">
              {{ glass.Name }}
              <img :src="glass.ImgSrc" />
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>