<div id="about" v-cloak>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img style="width: 100%" src="https://res.cloudinary.com/hh4gzxpel/image/upload/v1568597979/Web%20App%20Assets/goannnai_4x_schllc.png">
      </div>
      <div class="col-md-8 p-5">
        <div class="mb-5">
          <h4>
            ヴィレッジ･セラーズでは、本格的なワイングラス（プラム･クリスタルグラス）のレンタルサービスを行っています</br></br>
            <b>各種高級ハンドメイドグラスから多彩に使えるステムレスまで</b>ご希望のタイプのグラスを必要な時に必要な数だけ</br></br>
            グラスは拭き上げ済みで使用後の洗浄も不要―― 多くのお客様にリピートいただいている大好評のシステムです。</br></br>
            ぜひお気軽にお問い合わせください
            試飲会、展示会、生産者来日時のワイン会などニーズに合った最適なプランをご提案します</br></br>
          </h4>
        </div>
        <div>
          <h4>《サービスの特長》</h4>
          <h4>
            <ul>
              <li>ご希望のグラスを必要なときに必要な数だけお届けします。</li>
            </ul>
            <ul>
              <li>洗浄</li>
            </ul>
            <ul>
              <li>拭上げしたグラスをお届けします。ご使用前の洗浄は不要です。</li>
            </ul>
            <ul>
              <li>返却時はお届け時の専用ラックに入れるだけ。洗浄は不要で、 梱包材等を処理する必要もありません。</li>
            </ul>
            <ul>
              <li>数が増えるほどお得な料金体系です。</li>
            </ul>
            <ul>
              <li>ヴィレッジ･セラーズ･ワインと一緒にご注文いただくとさらにお得です。</li>
            </ul>
          </h4>
        </div>
      </div>
      <div class="col-md-4 mt-3 mb-3">
        <img style="width: 100%; position: absolute; top: 20px; width: 80%; left: 45px" src="https://res.cloudinary.com/hh4gzxpel/image/upload/v1568597983/Web%20App%20Assets/senjyofuyo_4x_hlve7i.png">
        <img style="width: 100%" src="https://res.cloudinary.com/hh4gzxpel/image/upload/v1568597986/Web%20App%20Assets/flow_4x_ivingz.png">
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
