<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center"
    style="
      height: 780px;
      background: url('https://res.cloudinary.com/hh4gzxpel/image/upload/c_fill,h_780,w_1798,y_0/v1567563226/Web%20App%20Assets/PLUMM__25_bzyhfa.jpg');
      background-repeat: no-repeat;
      background-position: center;
    "
  >
    <div class="container text-center">
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
